@{
    ViewData["Title"] = "Ayuda";
}
<h1>Bienvenido</h1>
<p>Esta es la página de Ayuda</p>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["name"]</li>
    }

</ul>